.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    width: 40%;
    background: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.right-section {
    width: 60%;
    background: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.filters h2, .games-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.filter-item {
    padding: 8px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.filter-item:hover {
    background: #222;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.game-card {
    /* background: #222; */
    padding: 10px;
    border-radius: 5px;
}

.game-image {
    width: 100%;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.thumbnail-gallery {
    display: flex;
    gap: 5px;
}

.thumbnail-gallery button {
    width: 20%;
    border: 2px solid transparent;
    background: none;
    cursor: pointer;
}

.thumbnail-gallery .active {
    border-color: purple;
}

.tags {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.tag {
    background: rgb(21, 76, 205);
    padding: 5px 10px;
    border-radius: 5px;
}

.description h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.icons{
    color: yellow;
    margin-top: 5px;
}

.star-full {
    color: yellow;
}

.star-half {
    color: yellow;
    opacity: 0.5;
}

.star-empty {
    color: gray;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.launch-button, .uninstall-button {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.launch-button {
    background: linear-gradient(90deg, purple, blue);
    color: white;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.6);
}

.launch-button:hover {
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.9);
    transform: scale(1.05);
}

.uninstall-button {
    background: linear-gradient(90deg, darkred, red);
    color: white;
    
}

.uninstall-button:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}
